<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
        <link type="scss" rel="stylesheet" href="/styles/resets.scss">
        <link type="scss" rel="stylesheet" href="/styles/base.scss">
        <link type="scss" rel="stylesheet" href="/styles/header.scss">
        <link type="scss" rel="stylesheet" href="/styles/form.scss">
        <link type="scss" rel="stylesheet" href="/styles/footer.scss">
    </head>

    <body>

        <header>
            <div class="title">
                Text Analysis Master
            </div>
            <div class="instruction">
                Enter the url of the article you want to analyze.<br> We'll analyze it in seconds, Like a Pro.
            </div>
        </header>

        <main>
            <section>
                <form class="inputForm" onsubmit="return Client.handleSubmit(event)">
                    <input id="name" type="url" name="input-url" placeholder="Enter the URL here">
                    <input id="button" type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                </form>
            <section>

            <section class="output">
                <h1 class="result-title">::::: ANALYSIS RESULTS ::::: </h1>
                <div id="results">
                    <h1 class="result">Polarity:</h1>
                    <div class="result-block" id="polarity"></div>
                    <h1 class="result">Subjectivity:</h1>
                    <div class="result-block" id="subjectivity"></div>
                    <h1 class="result">Polarity Confidence:</h1>
                    <div class="result-block" id="polarity-confidence"></div>
                    <h1 class="result">Subjectivity Confidence:</h1>
                    <div class="result-block" id="subjectivity-confidence"></div>
                    <p class="result"> Article Text: </p>
                    <div class="result-block" id="article-text"></div>
                </div>
            </section>

        </main>

        <footer class="footer">
            <p>NLP Project 2019</p>
        </footer>

    </body>
</html>
